<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My App</title>
    <link th:href="@{style/admin.css}" rel="stylesheet"/>
    <link th:href="@{style/general.css}" rel="stylesheet"/>

</head>
<body>
<div class="user-container">
    <div id="navigation">
        <ul>
            <li><a th:href="@{/entry}" href="/entry">Ghi nhận</a></li>
            <li><a th:href="@{/member}" href="/member">Thành viên</a></li>
            <li><a th:href="@{/equipment}" href="/equipment">Thiết bị</a></li>
            <li><a th:href="@{/violation}" href="/vilation">Vi phạm</a></li>
            <li><a th:href="@{/reservation}" href="/reservation">Vi phạm</a></li>
            <li><a th:href="@{/report}" href="/report">Thống kê</a></li>
        </ul>
    </div>
    <div id="container">
        <div th:replace="${content}"></div>
    </div>
</div>
</body>
</html>
