<div class="container">
    <div class="search">
        <i class="fa fa-search"></i>
        <form action="#" th:action="@{/search}" method="get">
            <input
                    type="text"
                    class="form-control"
                    id="search-equipment"
                    name="search-equipment"
                    placeholder="Tìm Ki?m Thi?t B? (Tên thi?t b?)"
                    required
            />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <table class="table" >
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mã TB</th>
            <th scope="col">Tên TB</th>
            <th scope="col">Hành ??ng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="equipmentItem, itemStat : ${equipmentList}">
            <td th:text="${itemStat.count}"></td>
            <td th:text="${equipmentItem.MaTB}"></td>
            <td th:text="${equipmentItem.TenTB}"></td>
            <td>
                <a class="btn btn-primary" th:attr="onclick='showBookingForm(\'' + ${equipmentItem.MaTB} + '\')'">??t Ch?</a>
                <form th:action="@{/viewDeitailEquipmen}" method="post" style="display: inline;">
                    <input type="hidden" name="MaTB" th:value="${equipmentItem.MaTB}" />
                    <button type="submit" class="btn btn-success">Xem Chi Ti?t</button>
                </form>
            </td>
        </tr>

        <div id="bookingForm" style="display: none;">
            <form th:action="@{/bookEquipment}" method="post">
                <input type="hidden" name="userId" th:value="1190308010" />
                <input type="hidden" name="equipmentId" id="equipmentId" />
                <label for="bookingTime">Ch?n th?i gian ??t ch?:</label>
                <input type="datetime-local" id="bookingTime" name="bookingTime" required />
                <button type="submit" class="btn btn-primary">Xác Nh?n</button>
            </form>
        </div>

        <script>
            function showBookingForm(equipmentId) {
                console.log(equipmentId);
                alert(equipmentId);
                document.getElementById("equipmentId").value = equipmentId;
                document.getElementById("bookingForm").style.display = "block";
            }
        </script>
        </tbody>
    </table>
</div>